@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');

.wrappeR {
	min-height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0%;
	display: flex;
	flex-direction: column;
}

.container {
}

.header {
	position: relative;
	flex: 1 0 100%;

		&__image {
			background-image: url(../img/block_1/bg_photo_11949.png);
			background-position: center;
			background-size: cover;
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0%;
		}

		&__row {
			display: flex;
			flex: 0 1 auto;
			max-width: 1170px;
			margin: 40px auto;
			padding: 0px 15px;
		}

		@media (max-width: 850px) {
			.header__row{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0px;
				left: 0px;
				background-color: rgb(73, 67, 67);
				margin: 0px;
				flex-direction: column;
				align-items: center;
			}
			.header__logo{
				align-items: center;
				flex-direction: column;
				
				flex: 0 0 26.2%;
			}
			.header__img{
				padding-top: 30px;
				flex: 0 0 45%;
			}
			.header__logo-text{
				flex: 0 0 55%;
			}
			.header__menu{
				display: none;
				flex-direction: column;
				align-items: center;
				z-index: 2;
			}
			.header__btn{
				font-size: 30px;
			}
			.header__btn-color{
				font-size: 30px;
			}
			.header__right{
				margin-top: 50px;
				padding-bottom: 15px;
			}
		}

		&__logo {
			display: flex;
			flex: 0 0 34.2%;
		}

		&__img {
			display: inline-block;
			z-index: 2;
		}

		&__logo-text {
			font-family: 'Raleway';
			font-size: 34px;
			text-decoration: none;
			line-height: 1.2;
			font-weight: 400;
			letter-spacing: -0.04em;
			color: #ffffff;
			align-self: center;
		}

		&__burger {
		}

		@media (max-width: 850px) {
			.header__burger {
				display: block;
				position: relative;
				width: 30px;
				height: 20px;
				position: relative;
				z-index: 3;
			}
			.header__burger{
				span{
					position: absolute;
					background-color: #fff;
					left: 0;
					top: 9px;
					width: 100%;
					height: 2px;
				}
			}
			.header__burger:before,
			.header__burger:after{
				content: '';
				background-color: #fff;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
			}
			.header__burger:before{
				top: 0;
			}
			.header__burger:after{
				bottom: 0;
			}
		}

		&__menu {
			display: flex;
			flex: 0 0 54.7%;
			align-self: center;
			justify-content: space-between;
		}

		&__btn {
			font-family: 'Montserrat', sans-serif;
			font-size: 14px;
			text-decoration: none;
			line-height: 1.2;
			font-weight: 300;
			color: #ffffff;
		}

		&__btn-color {
			font-family: 'Conv_Montserrat';
			font-size: 14px;
			text-decoration: none;
			line-height: 1.2;
			font-weight: 300;
			color: #c7b299;
		}

		&__right {
			display: flex;
			flex: 0 0 11.1%;
			justify-content: flex-end;
			align-self: center;
		}

		&__logo-market {
			margin-right: 28px;
			@media (max-width: 950px) {
				margin-right: 20px;
			}
		}

		&__logo-search {
		}
}






.content {
	flex: 1 1 auto;
	max-width: 1170px;
	top: 0;
	left: 0;
	margin: auto;
	padding: 80px 0px;
	@media (max-width: 850px){
		padding-bottom: 40px;}


	&__row {
		display: flex;
		flex: 0 1 auto;
		flex-direction: row;
	}

	@media (max-width: 1170px) {
		.content__column{
			width: 235px;
			
		}
	}
	@media (max-width: 950px) {
		.content__column{
			width: 215px;
		}
	}
	@media (max-width: 870px) {
		.content__column{
			width: 200px;
		}
	}
	@media (max-width: 850px){
		.content__row{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.content__column{
			padding-bottom: 40px;
		}
	}
	@media (max-width: 600px){
		.content__column{
			padding-bottom: 40px;
		}
	}

	&__column {
		width: 292px;
		text-align: center;
	}

	&__logo {

		img{
			display: block;
			height: 49px;
			margin: auto;
		}
	}

	&__title {
		font-family: 'Raleway';
		font-size: 22px;
		line-height: 1.2;
		font-weight: 600;
		color: #555555;
		margin: 30px 0px 20px 0px;
	}

	&__text {
		font-family: Montserrat;
		font-size: 14px;
		line-height: 24px;
		font-weight: 300;
		color: #8c8c8c;
		&:after{
			display: block;
			margin: 20px auto auto auto;
			content: '';
			width: 70px;
			height: 3px;
			background-color: #f1eee9;
		}
	}
}

.color{
	color: #c7b299;
}
.after{
	&:after{
		display: block;
		margin: 20px auto auto auto;
		content: '';
		width: 70px;
		height: 3px;
		background-color: #c7b299;
	}
}






.realization {
	flex: 1 1 auto;

	&__bg {
		background-color: #fbfaf8;
	}

	@media(max-width: 765px) {
		.realization__left{
			display: none;
		}
		.realization__right{
			display: none;
		}
		.realization__center{
			img{
				display: block;
				width: 100%;
				height: auto;
			}
			position: unset;
			left:0;
			transform:translate(0%, 0%);

		}
		.realization__img{
			height: unset;
		}
	}
	&__column {
		max-width: 1230px;
		margin: auto;
		padding: 80px 0px 0px 0px;
		display: flex;
		flex-direction: column;
	}

	&__up {
		max-width: 770px;
		margin: auto;
		text-align: center;
	}

	&__title {
		font-family: Raleway;
		font-size: 30px;
		line-height: 1.2;
		font-weight: 600;
		color: #555555;
	}

	&__text {
		font-family: Montserrat;
		font-size: 16px;
		line-height: 28px;
		font-weight: 300;
		color: #8c8c8c;
		margin: 18px 0px 33px 0px;
	}

	&__img {
		position: relative;
		height: 482px;
		display: flex;
		flex: 1 0 auto;
	}

	&__left {
		position: absolute;
		top: 82px;
		left: 0;
	}

	&__center {
		position: absolute;
		top:0;
		left:50%;
		transform:translate(-50%, 0%);
		z-index: 2;
		height: 100%;
	}

	&__right {
		position: absolute;
		top: 82px;
		right: 0;
	}
}





.purchase {
	flex: 1 1 auto;

	@media (max-width: 1325px) {
		.purchase__row{
			margin: 0px 77px;
		}
	}
	@media (max-width: 900px) {
		.purchase__btn{
			width: 150px;
			height: 37px;
			span{
				font-size: 12px;
			}
		}
		.purchase__left{
			p{
				font-size: 15px;
			}
		}
		.purchase__text{
			font-size: 24px;
		}
	}
	@media (max-width: 780px) {
		.purchase__row{
			display: flex;
			flex-direction: column;
			align-self: center;
		}
		.purchase__left{
			text-align: center;
			margin-bottom: 20px;
		}
	}

	&__bg {
		background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
	}

	&__row {
		display: flex;
		flex: 0 1 auto;
		flex-direction: row;
		justify-content: space-between;
		max-width: 1170px;
		margin: auto;
		padding: 50px 0px;
	}

	&__left {
		p{
			font-family: Montserrat;
			font-size: 18px;
			line-height: 1.2;
			font-weight: 300;
			color: #615855;
			margin: 0px;
		}
	}

	&__text{
		font-family: Raleway;
		font-size: 28px;
		line-height: 1.2;
		font-weight: 400;
		color: #ffffff;
	}

	&__right {
		align-self: center;
	}

	&__btn {
		width: 170px;
		height: 50px;
		background-color: #998675;
		border-radius: 3px;
		span{
			font-family: Raleway;
			font-size: 14px;
			line-height: 23px;
			font-weight: 600;
			text-transform: uppercase;
			color: #ffffff;
		}
	}
}
.yellow {
	font-family: Raleway;
	font-size: 28px;
	line-height: 1.2;
	font-weight: 400;
	color: #c7b299;
}

